

// Neutral Color
$neutral-10: #FFFFFF;
$neutral-20: #F5F5F5;
$neutral-30: #EDEDED;
$neutral-40: #EDEDED;
$neutral-50: #C2C2C2;
$neutral-60: #9E9E9E;
$neutral-70: #757575;
$neutral-80: #616161;
$neutral-90: #424242;
$neutral-100: #0A0A0A;
// Neutral Color

// Primary Color
$primary-main:#4C4DDC;
$primary-surface:#F5F5FF;
$primary-border:#DFE0F3;
$primary-hover:#3334CC;
$primary-pressed:#21217A;
$primary-focus: rgba(76, 77, 220, 0.20);
// Primary Color

// Danger Color
$danger-main:#CB3A31;
$danger-surface:#FFF4F2;
$danger-border:#EEB4B0;
$danger-hover:#BD251C;
$danger-pressed:#731912;
// Danger Color

// Warning Color
$warning-main:#CD7B2E;
$warning-surface:#FFF9F2;
$warning-border:#EECEB0;
$warning-hover:#BF6919;
$warning-pressed:#734011;
// Warning Color

// Success Color
$success-main:#43936C;
$success-surface:#F7F7F7;
$success-border:#B8DBCA;
$success-hover:#367A59;
$success-pressed:#20573D;
// Success Color

// Info Color
$info-main:#3267E3;
$info-surface:#F0F3FF;
$info-border:#B1C5F6;
$info-hover:#114CD6;
$info-pressed:#11317D;
// Info Color
